:root {
  /* Primary */
  --primary-color: hsl(4, 100%, 67%);
  /* Neutral */
  --dark-slate-grey: hsl(234, 29%, 20%);
  --charcoal-grey: hsl(235, 18%, 26%);
  --grey: hsl(231, 7%, 60%);
  --white: hsl(0, 0%, 100%);
  --fs:16px;
}

@font-face {
  font-family: robotoBold;
  src: url(../assets/fonts/Roboto-Bold.ttf);
}

@font-face {
  font-family: robotoRegular;
  src: url(../assets/fonts/Roboto-Regular.ttf);
}

*, *::before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: robotoRegular;
}

input, html {
  font-size: var(--fs);
}

img {
  width: 100%;
  display: inline;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: var(--dark-slate-grey);
  min-height: 100vh;
  font-family: robotoRegular, sans-serif;
  color: var(--charcoal-grey);
}

body.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main {
  background-color: var(--white);
  margin: auto;
  width: 90%;
  max-width: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  padding: 1rem;
  border-radius: 20px;
}

.container {
  background-color: var(--white);
}

.container input, .container button {
  border-radius: 10px;
  padding: 1rem 1.5rem;
}

.container button {
  cursor: pointer;
  font-size: 14px;
  border: none;
  background-color: var(--dark-slate-grey);
  color: var(--white);
  font-weight: 600;
}

.container picture img {
  display: block;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
}

.container.content {
  padding: 1.4rem 2rem;
}

.container.content h1, .container.content label {
  font-weight: 900;
  color: var(--dark-slate-grey);
}

.container.content h1 {
  font-size: 2.3rem;
}

.container.content .description {
  margin-bottom: 1.5rem;
}

.container.content ul {
  list-style-type: none;
}

.container.content li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}

.container.content li > span {
  -webkit-box-flex: 7%;
      -ms-flex: 7%;
          flex: 7%;
}

.container.content li > p {
  -webkit-box-flex: 93%;
      -ms-flex: 93%;
          flex: 93%;
}

.container.content h1, .container.content li {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.container.content p, .container.content li {
  line-height: 1.4;
}

.container.content form label, .container.content form input, .container.content form button {
  width: 100%;
  display: block;
}

.container.content form label {
  font-weight: 600;
  font-size: 12px;
  margin-bottom: 0.75rem;
}

.container.content form input {
  border: 1px solid var(--grey);
  margin-bottom: 1rem;
}

.container.content form .form-control {
  position: relative;
}

.container.content form .form-control small {
  position: absolute;
  color: var(--primary-color);
  right: 0;
  top: 0;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.25s linear;
  transition: opacity 0.25s linear;
}

.container.content form .form-control.error input {
  border-color: #ff3224;
  background-color: #ffc1bd;
  color: var(--primary-color);
}

.container.content form .form-control.error input::-webkit-input-placeholder {
  color: var(--primary-color);
}

.container.content form .form-control.error input:-ms-input-placeholder {
  color: var(--primary-color);
}

.container.content form .form-control.error input::-ms-input-placeholder {
  color: var(--primary-color);
}

.container.content form .form-control.error input::placeholder {
  color: var(--primary-color);
}

.container.content form .form-control.error small {
  visibility: visible;
  opacity: 1;
}

.container.success {
  width: 100%;
  padding: 1rem 2rem;
  display: none;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.5rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container.success p {
  line-height: 1.4;
}

.container.success .email-span {
  color: var(--dark-slate-grey);
  font-weight: 600;
}

.container.success h2 {
  font-size: 34px;
}

.container.success img {
  width: 50px;
}

.container.success .dismiss-button {
  width: 100%;
  -webkit-transition: background-color 0.25s ease-in-out;
  transition: background-color 0.25s ease-in-out;
}

.container.success .dismiss-button:hover {
  cursor: pointer;
  background-color: var(--primary-color);
}

/* Media query for mobile devices */
@media (max-width: 700px) {
  .main {
    width: 75%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 500px) {
  .main {
    border-radius: 0;
    height: 100vh;
    padding: 0;
    width: 100%;
  }
  .container picture img {
    border-radius: 0px;
  }
}

/* Media query for desktop devices */
@media (min-width: 451px) {
  .container.success {
    width: 400px;
    /* Takes up 25% width on desktop */
    padding: 4rem;
    border-radius: 30px;
    max-width: 100%;
    /* Optional: Set a maximum width for larger screens */
  }
}

@media (max-width: 450px) {
  .container.success {
    height: 100vh;
    width: 100%;
    /* Takes up 25% width on desktop */
    padding: 1rem;
    border-radius: 0px;
  }
}
/*# sourceMappingURL=styles.css.map */